@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-content p{
    line-height: 2rem;
    margin-bottom: 1rem;
}
.blog-content figure img{
    margin: 30px auto;
    text-align: center;
}

